# Sales Data Analysis

In [ ]:
import pandas as pd

### 1- Read data from csv file

In [ ]:
df = pd.read_csv(
    'sales_data.csv')
df.head()

### -2 Explore Data

In [ ]:
df.describe()
df.info()
df.dtypes
df['price'].max()
df['price'].idxmax()
df['price'].min()

### -3 Clean Data

In [ ]:
## Get Null Values

df.isnull().sum()
df.dropna(inplace=True)
df.isnull().sum()

In [163]:
## Fix Errors

df['category'].unique()
df['category'].replace(['Bgas', 'Shoeses'], ['Bags', 'Shoes'], inplace=True)
df['category'].unique()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 364 entries, 0 to 368
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      364 non-null    datetime64[ns]
 1   product   364 non-null    object
 2   category  364 non-null    object
 3   price     364 non-null    float64
 4   quantity  364 non-null    float64
 5   revenue   364 non-null    float64
 6   quarter   364 non-null    int32
dtypes: datetime64[ns](1), float64(3), int32(1), object(2)
memory usage: 29.4+ KB

In [ ]:
# Get Duplicates
d = df.duplicated()
df[d]
df[df['date'] == '2022-10-01']
df.drop_duplicates(inplace=True)
df[df['date'] == '2022-10-01']

#### Format Handling

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df.info()

## Assessment Questions

### -1 The Total revenue over the course of the year

In [ ]:
### Add new column revenue
df['revenue'] = df['price'] * df['quantity']
df.head()

In [ ]:
total_revenue = df['revenue'].sum()
total_revenue

### -2 The product with the highest revenue, How much revenue did it generated?

In [ ]:
highest_revenue_index = df['revenue'].idxmax()
highest_revenue = df.loc[highest_revenue_index, 'revenue']
highest_revenue

In [ ]:
product_highest_revenue = df.loc[highest_revenue_index, 'product']
product_highest_revenue

### 3- What was the average price of a product sold by the company?

In [ ]:
average_price = df['price'].mean()
average_price

### 4- The total quantity of products sold by the company?

In [ ]:
total_quantity = df['quantity'].sum()
total_quantity

### 5- Which category had the highest revenue? How much revenue did it generate?

In [ ]:
category_revenue = df.groupby('category')['revenue'].sum()
category_highest_revenue = category_revenue.idxmax()
category_highest_revenue

In [ ]:
highest_revenue = category_revenue[category_highest_revenue]
highest_revenue

### 6- The average revenue per sale.

In [ ]:

average_revenue_per_sale = df['revenue'].sum() / df['quantity'].sum()
print("The average revenue per sale is:", average_revenue_per_sale)

### 7- What was the total revenue generated in each quarter of the year? (i.e. Q1, Q2, Q3, Q4)

In [ ]:
## Create new column quarter
df['quarter'] = df['date'].dt.quarter
df['quarter']

In [ ]:

quarter_revenue = df.groupby(['quarter']).agg({'revenue':'sum'})
print("Quarterly revenue:")
print(quarter_revenue)